@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --main-bg-color: #fff;
  --main-body-color: #eceff1;
  --primary-text-color: #424242;
  --main-sweet-color: #fff;
  --text-shadow: #ff6347;
  --footer-bg: #222;
  --bag-gradient: rgba(0, 0, 0, 0.5);
  --lin-gradient: linear-gradient(
    rgba(47, 48, 58, 0.3) 0%,
    rgba(47, 48, 58, 0.3) 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-family: "Roboto", sans-serif; */
}

body {
  background: var(--main-body-color);
}

ul {
  list-style: none;
}

.body-overflow {
  overflow: hidden;
}

nav {
  /* position: fixed; */
  top: 0;
  width: 100%;
  z-index: 10;
  background: var(--main-bg-color);
}

.burger {
  display: none;
}

.menu {
  max-width: 1200px;
  height: 60px;
  padding: 0 20px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .menuslogan {
  color: var(--primary-text-color);
} */
.menu-logo {
  width: 50px;
  height: 50px;
}

.menulist {
  display: flex;
  list-style: none;
  gap: 20px;
}

.item {
  text-decoration: none;
  font-size: 1.25em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

@media (max-width: 660px) {
  .menulist {
    display: none;
  }
  .burger {
    position: relative;
    display: flex;
    /* background: #ff0; */
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
  }

  .burger::before {
    position: absolute;
    content: "";
    width: 32px;
    height: 2px;
    background: var(--primary-text-color);
    box-shadow: 0 10px var(--primary-text-color);
    transform: translateY(-10px);
    transition: 0.5s;
  }

  .burger::after {
    position: absolute;
    content: "";
    width: 32px;
    height: 2px;
    background: var(--primary-text-color);
    transform: translateY(10px);
    transition: 0.5s;
  }

  .burger.is-cheked::before {
    box-shadow: 0 0 transparent;
    transform: rotate(-45deg) translateY(0);
  }

  .burger.is-cheked::after {
    transform: rotate(45deg) translateY(0);
  }
}

.backdrop {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin-top: 60px;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 999;
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: initial;
}

/* .backdrop.is-open > body {
  overflow: hidden;
} */

.grayfield {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--bag-gradient);
}

.mobilemenu {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 80%;
  background: var(--main-bg-color);
  transform: translateX(200%);
  overflow: hidden;
  transition: 0.5s;
}

.backdrop.is-open .mobilemenu {
  transform: translateX(0);
}

.mobilelist {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 60px;
}

.mobilelist .item {
  font-size: 2em;
}

.menuclose {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-20px);
  cursor: pointer;
}

/*!!! --- H E R O --- !!!*/
.hero {
  position: relative;
  max-width: 100%;
  height: calc(100vh - 60px);
  text-align: center;
}

.hero-slide-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(
    rgba(47, 48, 58, 0.5) 0%,
    rgba(47, 48, 58, 0.5) 100%
  ); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: bganimation 45s linear infinite;
}

@keyframes bganimation {
  0% {
    background-image: url(./images/hero-bg1.jpg);
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  15% {
    background-image: url(./images/hero-bg1.jpg);
    opacity: 0;
  }
  20% {
    background-image: url(./images/hero-bg2.jpg);
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  35% {
    background-image: url(./images/hero-bg2.jpg);
    opacity: 0;
  }
  40% {
    background-image: url(./images/hero-bg3.jpg);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    background-image: url(./images/hero-bg3.jpg);
    opacity: 0;
  }
  60% {
    background-image: url(./images/hero-bg4.jpg);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  75% {
    background-image: url(./images/hero-bg4.jpg);
    opacity: 0;
  }
  80% {
    background-image: url(./images/hero-bg5.jpg);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    background-image: url(./images/hero-bg5.jpg);
    opacity: 0;
  }
  100% {
    background-image: url(./images/hero-bg1.jpg);
    opacity: 1;
  }
}

.hero-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hero-slogan {
  color: var(--main-bg-color);
  font-size: 3em;
  text-transform: uppercase;
  text-shadow: 0 0 2px var(--primary-text-color);
  line-height: 1.1;
  margin-top: 20px;
}

.hero-descript {
  width: 100%;
  background: var(--lin-gradient);
  padding: 10px 10px 0;
}

.hero-descript p {
  font-style: italic;
  text-align: justify;
  color: var(--main-sweet-color);
}

.hero-span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px auto;
}

.order-button {
  height: 60px;
  padding: 0 30px;
  border-radius: 15px;
  background: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
}

/* M A I N */
.main {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 30px 15px;
}

.main-content {
  position: relative;
  width: 100%;
  padding: 40px 15px;
  background: var(--main-sweet-color);
}

.main-content h2 {
  font-size: 2.4em;
  font-weight: 500;
  padding: 0 0 20px 0;
}

.main-content p {
  font-size: 1.2em;
  text-align: justify;
  text-indent: 1.5em;
}

.hrak-span {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background: var(--primary-text-color);
}

.main-box {
  display: block;
  width: 100%;
}

.main-box img {
  border-radius: 8px;
}

.main-box img,
.main-box div {
  width: 100%;
}

@media (max-width: 660px) {
  .hero-slogan {
    font-size: 2.5em;
  }
  .hero-span {
    margin: 10px auto 60px;
  }
}

@media (min-width: 768px) {
  .hero-slogan {
    font-size: 4em;
  }
  .hero-descript {
    padding: 60px;
  }

  .main-content {
    padding: 40px 30px;
  }

  .main-box {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
  }

  .main-box div {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .main {
    width: 1200px;
  }
}
/* F O O T E R */
footer {
  width: 100wv;
  background: var(--lin-gradient);
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-box {
  max-width: 1200px;
  margin: auto;
  padding: 30px 15px 0;
}

.footer-box h3 {
  font-size: 1.2em;
  font-weight: 400;
}

.footer-contacts {
  width: 100%;
  margin-bottom: 30px;
}

.footer-contacts a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.below-footer {
  text-align: center;
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .footer-box {
    width: 100%;
    display: flex;
    gap: 20px;
  }
  .footer-contacts {
    width: 50%;
  }
}

.below-footer p {
  margin: 0 auto 30px;
}
